@font-face {
  font-family: 'din';
  src:  font-url('din-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src:  font-url('proximanova-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: proxima-nova, sans-serif;
  font-size: .9375em;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #252a40;
  margin: 0px;
}

header {
  height: 77px;
  width: 100vw;
  position: fixed;
  background: #fff;
  padding-left: 30px;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid #252a40;
}

footer {
  background-color: #f4f7f9;  
  text-transform: uppercase;
  text-align: center;
  height: 170px;
  bottom: 0px;
  width: 100vw;
  padding-top: 36px
}

p {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: .05em;
}

h1,
h2,
h3,
h4 {
  color: #20cfb1;
  font-family: din,sans-serif;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 25px;
}
h4 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #20cfb1;
  transition: .3s;
  cursor: pointer;
}

.small-font {
  font-size: 20px;
}

h2.header-title {
  text-align: center;
  color: #252a40;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  top: 0px; 
  margin-top: 38px;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-top {
  position: relative;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.center-bottom {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.med-4 {
  width: 33vw;
  position: relative;
  float: left;
}

.footer-section-title {
  color: #a1b0db;
  /*border-bottom: 1px solid #a1b0db;*/
}

.footer_copyright {
  color: #a1a1a1;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  letter-spacing: .1em;
  margin: 20px,0px,20px,0px;
  padding: 20px;
  float: center;
  clear: both;
}

.row {
  width: 100vw;
  float: left;
}

.hide {
  display: none;
}

.no-margin{
  margin: 0px !important;
}