// Place all the styles related to the calculation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-wrapper {
  padding-left: 30px;
}

.dark-text {
  color: #252a40;
}

h1,h2,h3,h4.bg-img-text {
  color: #fff;
  text-align: center;
}
.bg-img {
  height: 200px;
  background-image: image-url("cp_title_background.png");
  margin-top: 77px;
  background-size: cover;
}

.development-notes {
  color: orange;
}

.classpass-logo {
  height: 18px;
  margin-top: 29px;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: #f4f7f9;  
  text-transform: uppercase;
  text-align: center;
  height: 170px;
  bottom: 0px;
  width: 100vw;
  padding-top: 36px
}

.med-4 {
  width: 33vw;
  position: relative;
  float: left;
}

.footer-section-title {
  color: #a1b0db;
  /*border-bottom: 1px solid #a1b0db;*/
}

.footer_copyright {
  color: #a1a1a1;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  letter-spacing: .1em;
  margin: 20px,0px,20px,0px;
  padding: 20px;
  float: center;
  clear: both;
}

.row {
  width: 100vw;
  float: left;
}

