// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-wrapper {
  padding-left: 30px;
}
.wrapper {
  padding-left: 30px;
}

.fixed-cost-sum {
  color: #252a40;
}

.bg-img-text {
}

.bg-img {
  height: calc(100vh - 77px);
  background-position: 50% 50%;
  background-size: cover;
}

.bg-img.bg-img-1 {
  background-image: image-url("girls_in_studio.jpg");
  margin-top: 77px;
}
.bg-img.bg-img-2 {
  background-image: image-url("stretching_in_park.jpg");
}
.bg-img-text.bg-img-2 {
  margin-top: 0px;
}

.overlay-content-box {
  max-width: 770px;
  text-align: center;
}

.overlay-content-box.dark-bg{
  padding: 80px;
  background-color: rgba(37,42,64,.8);
  color: #fff;
}
.overlay-content-box.light-bg{
  background-color: #f4f7f9;
  opacity: 0.8;
  color: #252a40;
  padding: 40px;
}


.overlay-content-box h1 {
  margin-bottom: 62px;
}
.overlay-content-box p {
  margin-bottom: 10px;
}
.overlay-content-box p.content-end {
  margin-bottom: 30px;
}

.overlay-content-box a {
  margin-bottom: 22px;
}

.development-notes {
  color: orange;
}

.classpass-logo {
  height: 18px;
  margin-top: 29px;
}



