// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-wrapper {
  padding-left: 30px;
}

.wrapper {
  padding-left: 30px;
}

.fixed-cost-sum {
  color: #252a40;
}
.operating-cost-sum {
  color: #20cfb1;
}
#operating-cost-form {
  margin-bottom: 5%;
}

.bg-img-text {
}

.bg-img {
  height: calc(100vh - 78px);
  background-position: 50% 50%;
  background-size: cover;
}

.bg-img.bg-img-1 {
  background-image: image-url("girls_in_studio.jpg");
  margin-top: 77px;
}
.bg-img.bg-img-2 {
  background-image: image-url("stretching_in_park.jpg");
}
.bg-img-text.bg-img-2 {
  margin-top: 0px;
}

.bg-img.bg-img-3 {
  background-image: image-url("black_and_white_yoga.jpg");
}
.bg-img-text.bg-img-3 {
  margin-top: 0px;
}

.overlay-content-box {
  /*max-width: 770px;*/
  max-width: 75%;
  min-height: 60%;
  width: 54%;
  text-align: center;
}

.overlay-content-box.dark-bg{
  padding: 80px;
  background-color: rgba(37,42,64,.8);
  color: #fff;
}
.overlay-content-box.light-bg{
  padding: 35px 70px 0px 70px;
  background-color: #f4f7f9;
  opacity: 0.95;
  color: #252a40;
}


.overlay-content-box-clear-bg{
  /*max-width: 730px;*/
  max-width: 51%;
  text-align: center;
  padding: 25px 70px 0px 70px;
  opacity: 0.95;
  color: #252a40;
  border-width: 20px;
  border-style: solid;
  border-color: #fff;
}


.overlay-content-box.cp-mission h1 {
  margin: 0px 0px 0px 0px;
  color: #fff;
}
.overlay-content-box p {
  margin-bottom: 10px;
}
.overlay-content-box p.content-end {
  padding-bottom: 55px;
}

.development-notes {
  color: orange;
}

.classpass-logo {
  height: 18px;
  margin-top: 29px;
}

.pull-right{
  position: absolute;
  left: 300px;
}



.f-elem{
  /*just for jquery selecting*/
}

.disabled{
  background-color: grey;
}

.form-text-label {
  position: relative;
}

.form-text-input{
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px 12px 7px;
  font-size: 16px;
  color: #a1a1a1;
}
.form-text-input.studio{
  width: 18%;
  margin: 0px 3px;
}

.form-text-input.oc{
  width: 22%;
  margin: 6px 6px;
}


.activity-types{
  margin-bottom: 20px;
}
.indent{
  display: block;
}
.top-margin-sm{
  margin-top: 10px;
}

.btn{
  border-radius: 5px;
  font-size: 20px;
  font-family: din,sans-serif;
  padding: 8px 35px 10px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: .05em;
  transition: all .3s;
  -webkit-appearance: button;
  cursor: pointer;
}

.btn.blue{
  background-color: #20cfb1;
  border-color: #20cfb1;
  color: #fff;
  border-style: solid;
}
.btn.white{
  background-color: #20cfb1;
  border-color: #fff;
  color: #fff;
  border-style: solid;
}
.btn.blue:hover{
  background-color: #73E4D1;
  border-color: 73E4D1;
}
.btn.white:hover{
  background-color: #73E4D1;
}

.center-block{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 25%);
}

.fc-form{
  padding-bottom: 30px;
}

.overlay-box-bottom-strip{
  font-family: din, sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: .05em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding: 15px 70px;
}
.overlay-box-bottom-strip.learn-more{
  border-radius: 5px;
}

.overlay-box-bottom-strip.fc_sum {
  margin-top: 40px;

}

.overlay-box-bottom-strip.blue {
  background-color: #20cfb1;
  color: white;
}

.overlay-box-bottom-strip.white {
  background-color: #fff;
  color: #252a40;
  bottom: -21px;
}


.overlay-box-bottom-strip.learn-more{
  bottom: 15px;
}
.overlay-box-bottom-strip.fc-sum{
  left: -73px;
  bottom: -20px;
  width: 102%;
}

.line-spacer{
  margin-top: 15px;
}

.form-title{
  margin: 0px 0px 17px;
}
.oc-title{
  color: #fff;
  font-family: din,sans-serif;
  font-weight: 700;
  letter-spacing: .05em;
  white-space: nowrap;
  overflow: hidden;
  margin: 17px 0px 8px 0px;
}
.oc-main-title{
  margin-top: 0px;
}
.fc-main-title{
  margin-top: 20px;
}


.oc-title.oc-category{
  font-size: 20px;
  text-transform: uppercase;
}

.other {
  width: 18% !important;
}

.oc-column-title{
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  margin-right: -39%;
}

.oc-form-right{
  text-align: right;
}

input[type="checkbox"] {
  visibility: hidden;
}


textarea:focus, input:focus, select:focus {
  outline: none;
  border: solid;
  border-width: 2px;
  border-color: #20cfb1;
  border-radius: 5px;
  color: #252a40 !important;
}

input.btn:focus{
  color: #fff !important;
}

a:focus {
  outline:none;
}



/* DROPDOWN STYLING */

select {
  border: 1px solid #111;
  background: #fff;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 36px;
  cursor: pointer;
  color: #a1a1a1 !important; 
  margin-top: 7px;
} 
select.city {
  position: relative;
  bottom: 3px;
  width: 21%;
  text-indent: 23px;
}

/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}




/* CHECKBOX STYLING */
.checkbox {
  width: 25px;
  margin-left: 25px;
  position: relative;
}
.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: #fff;
  border: 1.5px solid #20cfb1;
  border-radius: 5px;
  margin-left: -3px;
  margin-top: -1px;
}
.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
.checkbox label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}