// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-wrapper {
  padding-left: 30px;
}

.wrapper {
  padding-left: 30px;
}

.cost-sum {
  color: #252a40;
}

.bg-img-text {
}

.bg-img {
  height: calc(100vh - 77px);
  background-position: 50% 50%;
  background-size: cover;
}

.bg-img.bg-img-1 {
  background-image: image-url("girls_in_studio.jpg");
  margin-top: 77px;
}
.bg-img.bg-img-2 {
  background-image: image-url("stretching_in_park.jpg");
}
.bg-img-text.bg-img-2 {
  margin-top: 0px;
}

.overlay-content-box {
  max-width: 770px;
  text-align: center;
}

.overlay-content-box.dark-bg{
  padding: 80px;
  background-color: rgba(37,42,64,.8);
  color: #fff;
}
.overlay-content-box.light-bg{
  background-color: #f4f7f9;
  opacity: 0.8;
  color: #252a40;
  padding: 40px;
}


.overlay-content-box h1 {
  margin-bottom: 62px;
}
.overlay-content-box p {
  margin-bottom: 10px;
}
.overlay-content-box p.content-end {
  margin-bottom: 30px;
}

.overlay-content-box a {
  margin-bottom: 22px;
}

.development-notes {
  color: orange;
}

.classpass-logo {
  height: 18px;
  margin-top: 29px;
}

.pull-right{
  position: absolute;
  left: 300px;
}


.form-element {
  margin-bottom: 30px;
}

.form-text-label {
  position: relative;
}

.form-text-input{
  width: 100px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 9px 12px 7px;
  width: 21%;
  font-size: 16px;
  color: #a1a1a1;
  margin: 0px 3px;
}

.overlay-form-box {
  padding: 1px 0px 0px 0px;
  max-width: 575px;
  text-align: center;
}
.overlay-form-box.light-bg-form {
  background-color: #f4f7f9;
  opacity: .90;
  color: #252a40;
}
.activity-types{
  margin-bottom: 20px;
}
.indent{
  display: block;
  margin-top: 10px;
}

.btn{
  border-radius: 3px;
  font-size: 20px;
  font-family: din,sans-serif;
  background-color: #20cfb1;
  border-color: #20cfb1;
  color: #fff;
  padding: 8px 35px 10px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: .05em;
  transition: all .3s;
  -webkit-appearance: button;
  cursor: pointer;
}

.center-block{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 25%);
}

.fc-form{
  margin-bottom: 10px;
}
.fc-sum{
  width: 100%;
  background-color: #20cfb1;
  color: white;
  padding: 13px 0px;
  margin-top: 40px;
}
.line-spacer{
  margin-top: 15px;
}

input[type="checkbox"] {
  visibility: hidden;
}


/* DROPDOWN STYLING */

select {
  border: 1px solid #111;
  background: transparent;
  font-family: proxima-nova, sans-serif;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
   
} 
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}




/* CHECKBOX STYLING */
.checkbox {
  width: 25px;
  margin-left: 25px;
  position: relative;
}
.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
  border-radius: 5px;
  margin-left: -3px;
  margin-top: -1px;
}
.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
.checkbox label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}